body {
    margin: 0;
    padding: 0;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.line {
    width: calc(100vw - 10vh);
    height: 1.5px;
    background-color: #fff8e7;
    border-style: none;
    position: absolute;
    top: 50.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.backgroundDiv {
    width: 100vw;
    height: 100dvh;
    background-color: black;
}

.backgroundDiv.PDF {

    height: 50dvh;
}

.PDFdivContainer {

    display: none;
}

.insideDivPDF {
    position: absolute;
    left: 5dvh;
    right: 5vh;
    border: 2px solid;
    border-color: #fff8e7;
    background-color: transparent;
}

.insideDivPDF.Upper {
    top: 5dvh;
    height: calc(45.5dvh + 1px);
}

.insideDivPDF.Lower {
    top: calc(50.5dvh - 1px);
    height: calc(45.5dvh + 1px);
}

.backgroundImg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.text {
    position: absolute;
    font-family: 'AkzidenzGrotesk';
    font-weight: 300;
    color: #fff8e7;
    text-align: center;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.loading {
    position: absolute;
    display: none;
    color: black;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    cursor: default;
    font-size: 48px;
}

.option {
    color: black;
    top: 15px;
    font-size: 28px;
}

.option:hover {
    font-weight: 500;
}

.option.right {
    right: 15px;
    text-align: left;
}

.option.left {
    left: 15px;
    text-align: right;
}

.text.threeD {
    top: calc(50.5dvh - 55px);
    left: 50vw;
    transform: translate(-50%, -50%);
    font-size: 92px;
    letter-spacing: 5px;
}


.text.pdf {
    top: calc(50dvh + 45px);
    left: 50vw;
    transform: translate(-50%, -50%);
    font-size: 48px;
}


#unityContainer {
    display: none;
    overflow: hidden;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 100%;
    height: 100%;
}


@font-face {
    font-family: 'AkzidenzGrotesk';
    src: url("../fonts/akzidenz-grotesk-light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AkzidenzGrotesk';
    src: url("../fonts/Berthold Akzidenz Grotesk Medium.otf");
    font-weight: 500;
    font-style: normal;
}