#custom-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



#custom-loader {
    width: 10%;
    height: 10px;
    background: lightgray;
  
}

#custom-loader .fill {
    width: 0%;
    height: 100%;
    background: rgb(255, 255, 255);
}

#phoneDetected{
   
    background-color: black;
  
   
}

#phoneDetected p{
    text-align: center;
    background-color: black;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
